<ion-header class="ion-safe-area" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search bar -->
  <div class="search-container">
    <ion-searchbar
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (ionInput)="filterProducts()"
      show-clear-button="always"
      class="custom-searchbar"
    ></ion-searchbar>
  </div>

  <!-- Loading indicator -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="circular"></ion-spinner>
    <p>Loading products...</p>
  </div>

  <!-- Products -->
  <ng-container *ngIf="!isLoading">
    @if (products.length > 0) {
      <div class="products-container">
        <div class="product-card" *ngFor="let product of products;" 
          (click)="title === 'In-Game Coins' ? goToGameCoins(product.game_name) : goToProductDetail(product)">
          <div class="product-image-container">
            <img class="product-image" [src]="product.image_url" [alt]="product.name">
          </div>
          <div class="product-info">
            <h3 class="product-title">{{ product.name }}</h3>
            
            <!-- Specific information for videogames -->
            <p *ngIf="title === 'Videogames'" class="product-details">
              <span *ngIf="product.genre">{{ product.genre }}</span>
              <span *ngIf="product.developer"> | {{ product.developer }}</span>
              <span *ngIf="product.release_year"> ({{ product.release_year }})</span>
            </p>
            
            <!-- Specific information for coins -->
            <p *ngIf="title === 'In-Game Coins'" class="product-details">
              {{ product.description }}
            </p>
            
            <!-- Show price only for videogames -->
            <p *ngIf="title === 'Videogames'" class="product-price">${{ product.price.toFixed(2) }}</p>
            
            <!-- Platforms for videogames -->
            <div *ngIf="product.platforms && product.platforms.length > 0" class="platforms">
              <span *ngFor="let platform of product.platforms" class="platform-tag">{{ platform }}</span>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="message">No products available</div>
    }
  </ng-container>
</ion-content>

<app-tabs-pages></app-tabs-pages>
