<ion-header class="ion-safe-area" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search bar -->
  <div class="search-container">
    <ion-searchbar placeholder="Search" class="custom-searchbar"></ion-searchbar>
  </div>

  <!-- Categories -->
  <div class="categories-container">
    <div class="categories scrollbar-hidden">
      <ion-chip 
        *ngFor="let category of categories" 
        [class.selected]="selectedCategory === category"
        (click)="selectCategory(category)">
        <ion-label>{{ category }}</ion-label>
      </ion-chip>
    </div>
  </div>

  <!-- Products -->
  @if (products.length > 0) {
    <div class="products-container">
      <div class="product-card" *ngFor="let product of products;">
        <div class="product-image-container">
          <img class="product-image" [src]="product.image_url" [alt]="product.name">
        </div>
        <div class="product-info">
          <h3 class="product-title">{{ product.description }}</h3>
          <p class="product-price">${{ product.price.toFixed(2) }}</p>
        </div>
      </div>
    </div>
  } @else {
    <div class="message">No hay productos disponibles</div>
  }
</ion-content>

<app-tabs-pages></app-tabs-pages>

