<ion-content class="page-background" [fullscreen]="true" scroll="true">
  <div class="login-container">
    <div class="login-logo">
      <img src="assets/icon/favicon.png" alt="logo" width="100" height="100" priority />
      <h1>GAMER VAULT</h1>
    </div>
    
    <ion-card class="app-card">
      <div class="login-form">
        <form [formGroup]="loginForm" novalidate>
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/User.png" alt="" class="input-icon">
                <ion-input class="custom-input" label="Username" labelPlacement="floating" placeholder="Enter your username" formControlName="userName" type="text" required></ion-input>
              </div>
              <ion-text class="error-message" color="danger" *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched">
                The username is required.
              </ion-text>
              <ion-text class="error-message" *ngIf="loginForm.get('userName')?.hasError('maxlength') && loginForm.get('userName')?.touched">
                Must be no more than 8 characters.
              </ion-text>
          </div>
          
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Password" labelPlacement="floating" placeholder="Enter your password" formControlName="password" type="password" required></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
              The password is required.
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
              Must be no more than 8 characters.
            </ion-text>
          </div>

          <!--<div class="forgot-password">
            <a href="signin">¿Olvidaste tu contraseña?</a>
          </div>-->
          
          
        </form>
      </div>
      
      <!--<div class="social-login">
        <p>O inicia sesión con</p>
        <div class="social-buttons">
          <ion-button class="google-button">
            <img src="/assets/google.jpg" alt="google logo" width="20" height="20">
            Google
          </ion-button>
          <ion-button class="facebook-button">
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </ion-button>
        </div>
      </div>-->
    </ion-card>

    <ion-button [disabled]="loginForm.invalid" (click)="onLogin()" type="submit" expand="block" class="login-button">
            Login
    </ion-button>

    <div class="bottom-links">
      <p class="signup-link" (click)="onSignup()">Don't have an account yet? <a>Register</a></p>
      <!--<a href="home" class="guest-link">Entrar como invitado</a>-->
    </div>
  </div>
</ion-content>

