.login-logo {
    min-height: 200px;
    padding: 20px 0;
    text-align: center;
}

.login-logo img {
    max-width: 150px;
    margin-top: 50px;
}

.login-form {
    padding: 16px;
}



ion-content {
    --background: transparent !important;
    background: linear-gradient(to bottom, #041637, #295280) !important;
}

ion-card {
    --background: transparent !important;
    --box-shadow: none !important;


}

ion-input {
    font-size: 1rem;
    margin-bottom: 20px;

}


.page-background {
    height: 100vh;
}

ion-button {
    --background: transparent !important;
    // --box-shadow: none !important;
    margin: 5px;

}

// button 
.btnGoogle {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 30px 10px 30px;
}


.btnFacebook {

    background-color: #4368C7;
    border-radius: 10px;
    color: white;
    padding: 10px 30px 10px 30px;
}

.btnLogin {
    font-weight: bold;
    background-color: #DEAD1C;
    border-radius: 10px;
    color: white;
    padding: 10px 30px 10px 30px;
}


.inputModel {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    // justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 13px;
    border: none;
    margin-bottom: 5px;
}

.inputModel:focus {
    border: none;
    outline: none;
}

log {
    height: 2px;
    height: 24px;
}