<ion-header class="has-shadow" [translucent]="true">
  <ion-toolbar>
    <ion-title class="font2P">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container" *ngIf="currentUser">
    
    <div class="avatar-section">
      <ion-avatar>
        <img [src]="currentUser.avatar || 'https://assets-v2.lottiefiles.com/a/6ae30608-1152-11ee-a832-8bf47b1739dd/1dRLd7BLCW.gif'" alt="Profile picture"  width="100" height="100"/>
      </ion-avatar>
      <div>
        <h2 class="ion-text-color">{{currentUser.first_name.toUpperCase()}} {{currentUser.last_name.toUpperCase()}}</h2>
        
      </div>
    </div>

    <div class="ion-padding">

      <div class="button-container" (click)="myprofile()">
        <div class="button-wrapper">
          <ion-icon name="person-outline" class="input-icon"></ion-icon>
          <ion-label class="ion-text-color">My Profile</ion-label>
        </div>
      </div>
      
      <div class="button-container" (click)="orderHistory()">
        <div class="button-wrapper">
          <ion-icon name="time-outline" slot="start" class="input-icon"></ion-icon>
          <ion-label class="ion-text-color">Order history</ion-label>
        </div>
      </div>

      <div class="button-container" (click)="changePassword()">
        <div class="button-wrapper">
          <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
          <ion-label class="ion-text-color">Change password</ion-label>
        </div>
      </div>

      <div class="button-container" (click)="logout()">
        <div class="button-wrapper">
          <ion-icon name="log-out-outline" slot="start" class="input-icon"></ion-icon>
          <ion-label class="ion-text-color">Log out</ion-label>
        </div>
      </div>

    </div>

    <div class="delete-account-container">
      <ion-button fill="clear" class="delete-button" (click)="deleteAccount()">
        <ion-icon name="person-remove-outline" slot="start"></ion-icon>
        <span class="deactivate-button">Delete account</span>
      </ion-button>
    </div>
    
  </div>
  
  <div class="no-user-container" *ngIf="!currentUser">
    <p>Please log in to view your profile</p>
    <ion-button expand="block" routerLink="/login">Go to Login</ion-button>
  </div>
</ion-content>

<app-tabs-pages></app-tabs-pages>
