<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <a href="/">LogOut</a>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--  -->
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>

  <div>
    <!-- <ion-icon ></ion-icon> -->
    <ion-input label="Name"></ion-input>
  </div>
  <ion-input label="Email" labelPlacement="fixed"></ion-input>



  <ion-input type="password" label="Password"> </ion-input>

  <ion-input label="Code" labelPlacement="fixed" name="nameUser" type="text" spellcheck="false" autocapitalize="off"
    errorText="name is required" required>
  </ion-input>

</ion-content>
<!-- tabas menus -->
<app-tabs-pages></app-tabs-pages>