<ion-content class="page-background"  [fullscreen]="true" scroll="true">
  <div class="login-container">
    <div class="login-logo">
      <img src="assets/icon/favicon.png" alt="logo" width="100" height="100" priority />
      <h1>GAMER VAULT</h1>
    </div>
    
    <ion-card class="app-card">
      <div class="change-password-form">
        <form [formGroup]="changePasswordForm" novalidate>

          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
                <ion-input class="custom-input" label="Current Password" labelPlacement="floating" placeholder="Enter your current password" formControlName="current_password" type="text" required>
                </ion-input>
              </div>
              <ion-text class="error-message" color="danger" *ngIf="changePasswordForm.get('current_password')?.hasError('required') && changePasswordForm.get('current_password')?.touched">
                The current password is required.
              </ion-text>
              <ion-text class="error-message" *ngIf="changePasswordForm.get('current_password')?.hasError('maxlength') && changePasswordForm.get('current_password')?.touched">
                Must be no more than 50 characters.
              </ion-text>
          </div>
          
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="New password" labelPlacement="floating" placeholder="e.g. mypassword123" formControlName="new_password" type="text" required minlength="8"></ion-input>
            </div>
            <ion-text class="error-message" *ngIf="changePasswordForm.get('new_password')?.hasError('minlength') && changePasswordForm.get('new_password')?.touched">
              Must be no less than 8 characters.
            </ion-text>
            <ion-text class="error-message" *ngIf="changePasswordForm.get('new_password')?.hasError('maxlength')">
              Must be no more than 50 characters.
            </ion-text>
            <ion-text class="error-message" *ngIf="changePasswordForm.get('new_password')?.hasError('required') && changePasswordForm.get('new_password')?.touched">
              The password is required.
            </ion-text>
            <ion-text class="error-message" *ngIf="changePasswordForm.get('new_password')?.hasError('passwordMatch') && changePasswordForm.get('new_password')?.touched">
              The new password cannot be the same as the current password
            </ion-text>
          </div>

          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Confirm password" labelPlacement="floating" placeholder="e.g. mypassword123" formControlName="password_confirm" type="text" required minlength="8"></ion-input>
            </div>
            <ion-text class="error-message" *ngIf="changePasswordForm.get('password_confirm')?.hasError('passwordMismatch') && changePasswordForm.get('password_confirm')?.touched">
              The password validation doesn't match
            </ion-text>
          </div>
          
        </form>
      </div>

    </ion-card>

    <ion-button [disabled]="changePasswordForm.invalid" (click)="saveChanges()" type="submit" expand="block" class="login-button">
            Save Changes
    </ion-button>

  </div>
</ion-content>

