<ion-header>
<ion-toolbar>
  <ion-title>Carrito</ion-title>
  <a (click)="clearCart()">Limpiar Todo</a>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>{{ item.name }}</ion-label>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src={{item.image_url}} />
      </ion-thumbnail>
      <ion-label>${{ item.price }} x {{ item.quantity }}</ion-label>
      <ion-button (click)="removeFromCart(item)" color="danger">X</ion-button>
    </ion-item>
  </ion-list>

  <ion-grid style="margin-top: 80px;">
    <ion-row>
      <ion-col>Productos</ion-col>
      <ion-col>{{cartItems.length}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Cantidad</ion-col>
      <ion-col>${{total}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Descuento</ion-col>
      <ion-col>-${{25}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>ITBMS 7%</ion-col>
      <ion-col>${{total*0.07}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Total</ion-col>
      <ion-col>$ {{((total*0.07)+total)}}</ion-col>
    </ion-row>
  </ion-grid>


  <ion-button expand="full" color="danger">
    Pagar
    <ion-icon name="cart-outline"></ion-icon>

  </ion-button>
</ion-content>

<app-tabs-pages></app-tabs-pages>