ion-content{
    --border-width: 0;
    --box-shadow: none;
}
ion-list{
    margin-top: 60px;
}
ion-header{
    // --box-shadow: none !important;   
    --border-width: 0;
    --box-shadow: none;
    
}
ion-toolbar{
    --box-shadow: none !important;
    --border-width: 0;
    --box-shadow: none;
    border-bottom: none !important;
}
