<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="font2P">
      Delete account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="container">
        <p class="custom-title font-verdana">Are you sure you want to delete your account?</p>
        <img src="/assets/alert-triangle.png" class="custom-icon">
        <p class="custom-warning font-verdana"> This action is permanent and you will no longer be able to access your account.</p>
        
        <form [formGroup]="confirmForm" novalidate>
          <div>
            <p class="custom-title font-verdana">To confirm this, please type "delete me"</p>
            <div class="input-wrapper">
              <ion-input class="custom-input" placeholder="delete me" formControlName="confirm"></ion-input>
            </div>
          </div>
        </form>

        <ion-button [disabled]="confirmForm.invalid" class="confirm-button" (click)="deleteAccount()"> CONFIRM </ion-button>
        
    </div>

</ion-content>