<ion-content class="modal-content">
  <div class="terms-wrapper">

    <!-- Botón de cerrar -->
    <ion-icon name="close-outline" class="close-icon" (click)="cancel()" slot="end">
    </ion-icon>

    <h2 class="terms-title">Terms and Conditions</h2>

    <div class="terms-text">
      <p><strong>1. Age Requirement:</strong> By registering and using Gamer Vault, the user confirms they are over 18 years old.</p>
      <p><strong>2. Responsibility:</strong> The user is solely responsible for ensuring that the information provided is truthful, accurate, and up to date.</p>
      <p><strong>3. Rounding Disclaimer:</strong> Gamer Vault automatically rounds up each purchase to the nearest dollar. The rounded difference will be charged and stored as savings in the user’s wallet.</p>
      <p><strong>4. Interest Accrual:</strong> Saved amounts may generate monthly interest based on the selected savings plan.</p>
      <p><strong>5. Acceptance:</strong> By continuing to use this application, you agree to these terms and conditions.</p>
    </div>

    <!-- Botón de Aceptar -->
    <ion-button expand="block" class="accept-button" (click)="accept()">
      Aceptar
    </ion-button>
  </div>
</ion-content>