<ion-header>
  <ion-toolbar>
    <ion-title class="font2P">Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>
  <div class="wallet-card">
    <div class="wallet-content">
      <div class="wallet-header">
        <div class="wallet-title">
          <img src="assets/icon/favicon.png" alt="Gamer Vault Logo" class="wallet-chip-img" />
          <span class="wallet-label font2P" >GAMER VAULT</span>
        </div>
      </div>
  
      <div class="wallet-footer">
        <div class="wallet-user">{{ currentUser?.userName || 'Usuario' }}</div>
        <div class="wallet-balance">${{ walletBalance.toFixed(2) }}
        </div>
      </div>
    </div>
  </div>

  <h2 class="section-title">Order History</h2>
  <div class="order-history-container">
    <ion-item lines="none" class="order-item" *ngFor="let order of orders" (click)="viewDetailOrder(order.order_id)">
      <div class="order-date">{{ order.created_at | date:'yyyy-MM-dd' }}</div>
      <div class="order-details">
        <div class="order-total">Total: ${{ order.total.toFixed(2) }}</div>
        <div class="order-saved">Saved: ${{ order.savings.toFixed(2) }}</div>
      </div>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
</ion-content>

<app-tabs-pages></app-tabs-pages>