
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'PressStart2P';
  src: url("assets/fonts/PressStart2P.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page-background {
  --background: transparent !important;
  background: linear-gradient(0deg, #295280, #0a1933) !important;
  //background: linear-gradient(0deg, #1a3a6c, #0a1933) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.app-card {
  --background: rgba(41, 82, 128, 0.45) !important;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
}


ion-button{
    
    --background: #DEAD1C !important;
    --color: white !important;
    --box-shadow: none !important;
    // --color:white;
}


.btnGoogle {
    --background: transparent !important;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 30px 10px 30px;
}


.btnFacebook {
    
    --background: transparent !important;
    background-color: #4368C7;
    border-radius: 10px;
    color: white;
    padding: 10px 30px 10px 30px;
}
html {
    /* Asegurarse de que la aplicación respete las áreas seguras */
    padding: var(--ion-safe-area-top) var(--ion-safe-area-right) var(--ion-safe-area-bottom) var(--ion-safe-area-left);
  }
  
  /* Ajuste para la barra de estado en iOS */
  .ios ion-header {
    padding-top: var(--ion-safe-area-top);
  }
  
  /* Ajuste para la barra de navegación en iOS */
  .ios ion-footer {
    padding-bottom: var(--ion-safe-area-bottom);
  }
  
  /* Ajuste para la barra de estado en Android */
  .md ion-header {
    padding-top: var(--ion-safe-area-top);
  }
  
  /* Ajuste para la barra de navegación en Android */
  .md ion-footer {
    padding-bottom: var(--ion-safe-area-bottom);
  }
  
  /* Estilos para la sombra del header */
  ion-header.has-shadow::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    z-index: 1;
  }

