ion-content {
    --background: none !important;
    background: linear-gradient(to bottom, #141e30, #243b55) !important;
    // height: 100vh;

}

ion-input {
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
}

// ion-input {
//     --highlight-color: transparent; /* Elimina el borde azul */
// }

// card
ion-card {
    --background: transparent !important;
    // --box-shadow: none !important;

}


.btnSignin {
    display: block;
    width: 100%;
    font-weight: bold;
    padding-top: 20px;
    --border-radius: 10px !important;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 30px;
    --padding-end: 30px;

}