<ion-content class="page-background" [fullscreen]="true" scroll="true">
  <div class="signin-container">
    <div class="login-logo">
      <img src="assets/icon/favicon.png" alt="logo" width="100" height="100" priority />
      <h1>GAMER VAULT</h1>
    </div>
    
    <ion-card class="app-card">
      
      <div class="signin-form">
        <form [formGroup]="form_signin" novalidate>

          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/User.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Username" labelPlacement="floating" placeholder="e.g. ggEasy" formControlName="username" type="text" required></ion-input>
            </div>
            <ion-text class="error-message" *ngIf="form_signin.get('username')?.hasError('required') && form_signin.get('username')?.touched"> 
              The username is required.
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('username')?.hasError('maxlength')"> 
              Must be no more than 25 characters.
            </ion-text>
          </div>

          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/calendar.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Birthdate" labelPlacement="floating" formControlName="birth_date" type="date" required></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('birth_date')?.hasError('required') && form_signin.get('birth_date')?.touched">
              The birthdate is required.
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('birth_date')?.hasError('underage') && form_signin.get('birth_date')?.touched">
              Must be over 18 years old.
            </ion-text>
          </div>
          
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/email.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Email" labelPlacement="floating" placeholder="e.e. ggEasy@gmail.com" formControlName="email" type="email" required></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('email')?.hasError('required') && form_signin.get('email')?.touched">
              The email is required.
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('email')?.hasError('email') && form_signin.get('email')?.touched">
              Invalid email.
            </ion-text>
          </div>

          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/phone.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Phone number" labelPlacement="floating" placeholder="e.g. 69946616" formControlName="phone" type="number" required></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('phone')?.hasError('required') && form_signin.get('phone')?.touched">
              The phone number is required.
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('phone')?.hasError('pattern')">
              Invalid phone number.
            </ion-text>
          </div>
          
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Password" labelPlacement="floating" placeholder="e.g. mypassword123" formControlName="password_hash" type="password" required minlength="8"></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('password_hash')?.hasError('minlength') && form_signin.get('password_hash')?.touched">
              Must be no less than 8 characters.
            </ion-text>
          </div>
          
          <div class="input-container">
            <div class="input-wrapper">
              <img src="assets/key.png" alt="" class="input-icon">
              <ion-input class="custom-input" label="Confirm password" labelPlacement="floating" placeholder="e.g. mypassword123" formControlName="password_confirm" type="password" required minlength="8"></ion-input>
            </div>
            <ion-text class="error-message" color="danger" *ngIf="form_signin.get('password_confirm')?.value !== form_signin.get('password')?.value && form_signin.get('password_confirm')?.touched">
              The password validation doesn't match
            </ion-text>
          </div>
          
          
        </form>
      </div>
    </ion-card>

    <div class="terms-container">
      <ion-checkbox labelPlacement="end">
        I read and accept the terms and conditions.
      </ion-checkbox>
    </div>
          
    <ion-button [disabled]="form_signin.invalid" (click)="signin()" type="submit" expand="block" class="register-button">
       Register
    </ion-button>

    <div class="bottom-links">
      <p class="login-link">Already have an account? <a href="login">Login</a></p>
    </div>
  </div>
</ion-content>

