
ion-content {
    --background: transparent !important;
    background: linear-gradient(to bottom, #041637, #295280) !important;
}

ion-input {
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
}

// ion-input {
//     --highlight-color: transparent; /* Elimina el borde azul */
// }

// card
ion-card {
    --background: transparent !important;
    // --box-shadow: none !important;

}


.btnSignin {
    display: block;
    width: 100%;
    font-weight: bold;
    padding-top: 20px;
    --border-radius: 10px !important;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 30px;
    --padding-end: 30px;

}

.inputModel {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    // justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 13px;
    border: none;
    margin-bottom: 5px;
}

.inputModel:focus {
    border: none;
    outline: none;
}

.login-logo {
    // min-height: 200px;
    // padding: 20px 0;
    text-align: center;
}

.login-logo img {
    max-width: 150px;
    // margin-top: 50px;
}