<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" show-clear-button="always"></ion-searchbar>

  <div id="container">
    <!-- wallet -->
    <div style="margin-top: 10px;">
      <div class="wallet">
        <div class="content">
          <p>Billetera </p>
          <p>{{puntos}} Puntos</p>
        </div>
        <div>
          <p>${{saldo}}</p>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- nav options -->
    <div class="nav">
      <div class="category scrollbar-hidden">
        <a>Pagos</a>
        <a>Transferir</a>
        <a>Remesas</a>
        <a>Kioscos</a>
        <a>Verifica</a>
        <a>Ejemplo</a>
      </div>
    </div>

    <div class="cart">
      <ion-item *ngFor="let product of results">
        <div class="content shadow-lg">
          <a>
            <img class="imgp" src={{product.image_url}} alt={{product.name}}>
            <h3 style="font-weight: bold;">{{product.name}}</h3>
          </a>
          <p>Precio:$ {{product.price}}</p>
          <!-- <p style="color: black;">Disponible: {{product.available ? "✅":"❌"}}</p> -->
        </div>
      </ion-item>
    </div>

    <ion-note style="font-size: x-large;" color="danger" *ngIf="message">{{ message }}</ion-note>

  </div>
</ion-content>
<app-tabs-pages></app-tabs-pages>