<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="font2P">Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">orderDetails</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="ion-padding">
      <p class="font-verdana"> {{ orderItems.created_at}}</p>
      <ion-item *ngFor="let details of orderItems.description">
        <div class="order-info">
          <ion-thumbnail slot="start" class="item-thumbnail">
            <img alt="Product image" [src]="details.image_url" />
          </ion-thumbnail>
          <div>
            <p>{{ details.name}}</p>
          </div>
          
          <p>$ {{ details.price }}</p>
        </div>
      </ion-item>

    <div class="cart-summary">
      <div class="summary-row">
        <span class="summary-label">Products Total</span>
        <span class="summary-value">{{orderItems.description?.length}}</span>
      </div>
      
      <div class="summary-row">
        <span class="summary-label">Payment Method</span>
        <span class="summary-value">{{orderItems.payment_method}}</span>
      </div>
      <div class="summary-row">
        <span class="summary-label">Status</span>
        <span class="summary-value">{{orderItems.status == 'pending' ? 'Pendiente 🕛 ' : 'Completed ✅'}}</span>
      </div>
      
      <div class="summary-row">
        <span class="summary-label">Savings</span>
        <span class="summary-value discount">$ {{orderItems.savings}}</span>
      </div>
      
      <div class="summary-row total">
        <span class="summary-label">Total</span>
        <span class="summary-value">$ {{orderItems.total}}</span>
      </div>
    </div>

  </div> 
  
  @if (!orderItems) {
    
    <div class="ion-padding">
      <ion-item>
        <div class="order-date">
          <p>No details were  found.</p> 
        </div>
      </ion-item>
    </div>
  } 
</ion-content>
<app-tabs-pages></app-tabs-pages>
